<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/64bcad5a74.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="icon" href="./icon.png" />
    <meta name="theme-color" content="#0d1529" />
    <!-- <link rel="manifest" href="./app.webmanifest" /> -->
    <title>KETresto</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link" tabindex="0">Menuju ke konten</a>
    <header>
      <navbar-element></navbar-element>
    </header>

    <main id="main-content" tabindex="0"></main>

    <footer>
      <div class="footer">
        <p>Copyright© 2022 - KETresto</p>
      </div>
    </footer>
  </body>
</html>
