<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/64bcad5a74.js" crossorigin="anonymous"></script>
    <title>KETresto</title>
  </head>
  <body>
    <div id="navbar-drawer">
      <nav id="drawer">
        <ul>
          <li class="item-1"><a href="#">Home</a></li>
          <li class="item-2"><a href="#">About</a></li>
          <li class="item-3"><a href="#">Portofolio</a></li>
        </ul>
      </nav>
    </div>

    <nav>
      <h1>KETresto</h1>

      <ul class="nav-link">
        <li><a href="#">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="#">About Us</a></li>
      </ul>

      <div class="humberger-button">
        <a id="hamburger" href="#"><i class="fa-solid fa-bars"></i></a>
      </div>
    </nav>

    <div class="hero">
      <div class="hero-Inner">
        <div class="hero-title">
          <h1>Kepuasan Pelanggan Adalah Koenchi Kesuksesan Kami!</h1>
        </div>
        <div class="hero-text">
          <p>hidup itu perlu makan, kalo ngga makan ya laper</p>
        </div>
      </div>
    </div>

    <main>
      <div class="container">
        <div class="header-container">
          <h2>Explore Restaurant</h2>
          
          <div class="search-container">
            <input type="text" placeholder="Search by name.." name="search">
            <button type="submit">Submit</button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
