$primaryColor: #F7F7F7;
$secondaryColor: #EEEEEE;
$fontColor: #393E46;
$titleColor: #191b1e;

*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

body{
    background-color: $primaryColor;
    width: 100%;
    height: 100%;
}

// Navbar 
nav{
    display: grid;
    background-color: $secondaryColor;
    padding: 15px;
    grid-template-columns: 2fr 1fr;
    h1{
        color: $fontColor;
    }

    ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;

        li{
            
            align-self: center;
            a{
                color: $fontColor;
                font-weight: bold;
                text-decoration: none;
                justify-content: center;
            }
        }
    }
}

// Responsive Navbar

// Hero

.hero{
    display: flex;
    background-image: url("/src/public/images/heros/hero-image_1.jpg");
    height: 60vh;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    .hero-Inner{
        margin: 0 auto;
        width: 100%;
        text-align: center;
        align-self: center;
        color: $titleColor;

        .hero-title{
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .hero-text{
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}
